<div class="create-fields">
  <div class="title">

    <h1 style="display: inline-block">Welcome To Management System</h1>

    <h1>School Management System</h1>
  </div>
  <div class="register-buttons">
    <div>
      ​
<!--      <button class="create" ng-click="showDiv = true">Create Student</button>-->
      <button class="create" (click)="createSubject()">Create Subject</button>
    </div>
    <div>
      ​

      <button class="create" (click)="createStudent()">Create Student</button>
    </div>

    <button class="create" (click)="addMarksToStudents()">Add Marks to Students</button>

  </div>

  </div>
