
.form{
  display: flex;
  flex-direction: column;
  width: min-content;
}
.form-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Set the height of the container to the full viewport height */
}




input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

select {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.select-subject{
  display: flex;
  gap: 20px;
}

.subject-performance{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 34px;
  font-weight: bold;

}
#green{
  background-color: #4CAF50;
}
#red{
  background-color: rgb(221, 9, 9);
}
.student-performance-container{
  display: flex;
  gap: 20px;
  margin: 20px;
}
.common{
  padding: 8px;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  cursor: pointer;
}


.create-fields{
  border: 2px solid black;

}

.title{
  display: flex;
  justify-content: center;
}
